
#stars-frame .glyphicon{
	margin: 0.3em;
	font-size: 1.75em;
}
#stars-frame, #answer-frame{
	width: 40%;
	float: left;

}

#button-frame{
	margin-top: 50px;
	width: 20%;
	float: left;
	text-align: center;
}

#stars-frame .well, #answer-frame .well{
	height: 180px;
}

#numbers-frame .number, #answer-frame .well span{
	padding-right: 10px;
	padding-left: 10px;
	display: inline-block;
	margin: 0.5em;
	background-color: #bbb;
	text-align: center;
	font-size: 22px;
	border-radius: 50%;
	cursor: pointer;
}

#numbers-frame .selected-true{
	background-color: #e8e8e8;
	color: #ddd;
	cursor: not-allowed;
}
#numbers-frame .correct{
	background-color: #449D44;
	opacity: 0.5;
	color: #ddd;
	cursor: not-allowed;
}